<h2>Salon Clients</h2>
<hr>
<ul>
  <% @clients.each() do |client| %>
  <li><a href="/clients_edit/<%=client.id %>"><%= client.name %>, <%= client.email %>, <%=client.phone %>, <%= client.city %>, <%= client.zip %></a></li>
  <% end %>
</ul>

<h3>Add a New Client</h3>

<div class="hair_salon_form">

  <form action="/clients/new" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="e.g. Julien Solomita"></br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="e.g. juliensolomita@gmail.com"></br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" placeholder="e.g. 4567890"></br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="e.g. Los Angeles"></br>

    <label for="zip">Zip Code:</label>
    <input type="text" id="zip" name="zip" placeholder="e.g. 98000"></br>

    <button type="submit">Add Client</button>
  </form>
</div>

<a href="/">Home</a>
